@import "http://localhost/pro_layout/css/cards.css";
@import "http://localhost/pro_layout/css/colors.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Extras */

/* Containers */
.container-fluid{
    width: auto;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}
.row{
    display: flex;
    margin: auto -15px;
    flex-wrap: wrap;
}
.col{
    flex: 1;
    max-width: 100%;
}
.col-1{
    flex: 0 0 8.3333333333%;
}
.col-2{
    flex: 0 0 16.666666667%;
}
.col-3{
    flex: 0 0 25%;
}
.col-4{
    flex: 0 0 33.333333333%;
}
.col-5{
    flex: 0 0 41.666666667%;
}
.col-6{
    flex: 0 0 50%;
}
.col-7{
    flex: 0 0 58.333333333%;
}
.col-8{
    flex: 0 0 66.666666666%;
}
.col-9{
    flex: 0 0 75%;
}
.col-10{
    flex: 0 0 83.333333333%;
}
.col-11{
    flex: 0 0 91.666666666%;
}
.col-12{
    flex: 0 0 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
.col-sm-2, .col-sm-4, .col-sm-6,
.col-md-2, .col-md-4, .col-md-6{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding: 7px 12px;
}

@media screen and (min-width:576px){
    .col-sm-1{
        flex: 0 0 8.3333333333%;
    }
    .col-sm-2{
        flex: 0 0 16.666666667%;
    }
    .col-sm-3{
        flex: 0 0 25%;
    }
    .col-sm-4{
        flex: 0 0 33.333333333%;
    }
    .col-sm-5{
        flex: 0 0 41.666666667%;
    }
    .col-sm-6{
        flex: 0 0 50%;
    }
    .col-sm-7{
        flex: 0 0 58.333333333%;
    }
    .col-sm-8{
        flex: 0 0 66.666666666%;
    }
    .col-sm-9{
        flex: 0 0 75%;
    }
    .col-sm-10{
        flex: 0 0 83.333333333%;
    }
    .col-sm-11{
        flex: 0 0 91.666666666%;
    }
    .col-sm-12{
        flex: 0 0 100%;
    }
}

@media screen and (min-width:768px){
    .col-md-1{
        flex: 0 0 8.3333333333%;
    }
    .col-md-2{
        flex: 0 0 16.666666667%;
    }
    .col-md-3{
        flex: 0 0 25%;
    }
    .col-md-4{
        flex: 0 0 33.333333333%;
    }
    .col-md-5{
        flex: 0 0 41.666666667%;
    }
    .col-md-6{
        flex: 0 0 50%;
    }
    .col-md-7{
        flex: 0 0 58.333333333%;
    }
    .col-md-8{
        flex: 0 0 66.666666666%;
    }
    .col-md-9{
        flex: 0 0 75%;
    }
    .col-md-10{
        flex: 0 0 83.333333333%;
    }
    .col-md-11{
        flex: 0 0 91.666666666%;
    }
    .col-md-12{
        flex: 0 0 100%;
    }
}